p {
    font-family: \"Helvetica Neue\", Helvetica, Roboto, Arial, sans-serif;
    color: white;
    margin-bottom: 2rem;
    width: 100%;
    font-size: 20px;
    line-height: 1.6;
}

.header {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 2000px) {
    .header {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}