@use 'sass:math';
@use 'sass:string';

//n is number of stars required
@function multiple-box-shadow ($n) {
  //adjust stars width and height:
  $width: 2300;
  $height: 7000;
  $value: '#{math.random($width)}px #{math.random($height)}px #FFF';

  @for $i from 2 through $n {
    $value: '#{$value} , #{math.random($width)}px #{math.random($height)}px #FFF';
  }

  @return string.unquote($value);
}

//adjust number of stars:
$shadows-small: multiple-box-shadow(1800);
$shadows-medium: multiple-box-shadow(700);
$shadows-big: multiple-box-shadow(200);

html {
  background: radial-gradient(ellipse at bottom, #48187d 0%, #080211 95%);
}

#hero-star {
  overflow: hidden;
  height: 95%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }

  span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-text-fill-color: transparent;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}